# Collaborative Filtering Recommendation System

In [41]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from scipy.special import logsumexp
from sklearn.metrics import precision_score, recall_score,f1_score

In [42]:
ratings = pd.read_csv('boss.csv')
ratings

    AdmissionNumber  RATING
0        2010203022       4
1        2010203001       3
2        2010203040       4
3        2010203052       4
4        2120203027       3
5        2010203073       4
6        2010203073       4
7        2010203021       2
8        2010203016       3
9        2010203025       3
10       2010203028       2
11       2010203025       3
12       2010203047       2
13       2010203045       3
14       2010203075       2
15       2010203075       2
16       2010203004       4
17       2010203075       3
18       2010203032       2
19       2120203015       3
20       2220203047       2
21       2010203053       2
22       2010203058       2
23       2220203056       0
24       2010203062       0
25       2220203050       3
26       2220203050       3
27       2010203079       3
28       2010203049       4
29       2010203011       4
30       2010203023       4
31       2220203026       0
32       2120203026       0
33       2220203034       2
34       2120203035       0
35       2010203038       4
36       2120203023       3
37       2010203009       4

In [43]:
#ratings.sort_values(by =['USER_ID','COURSE_CODE'])
#ratings

In [44]:
#ratings= ratings.drop_duplicates(subset= ['USER_ID', 'COURSE_CODE'],keep = False, inplace = True)
ratings= ratings.drop_duplicates(subset=['AdmissionNumber','RATING'], keep ='last')
#ratings.to_excel("my_exported_data.xlsx")
ratings

    AdmissionNumber  RATING
0        2010203022       4
1        2010203001       3
2        2010203040       4
3        2010203052       4
4        2120203027       3
6        2010203073       4
7        2010203021       2
8        2010203016       3
10       2010203028       2
11       2010203025       3
12       2010203047       2
13       2010203045       3
15       2010203075       2
16       2010203004       4
17       2010203075       3
18       2010203032       2
19       2120203015       3
20       2220203047       2
21       2010203053       2
22       2010203058       2
23       2220203056       0
24       2010203062       0
26       2220203050       3
27       2010203079       3
28       2010203049       4
29       2010203011       4
30       2010203023       4
31       2220203026       0
32       2120203026       0
33       2220203034       2
34       2120203035       0
35       2010203038       4
36       2120203023       3
37       2010203009       4

In [45]:
#ratings = pd.DataFrame(ratings)
#ratings.sort_values('COURSE_CODE')

In [61]:
df_ratings = ratings.pivot_table(index='AdmissionNumber', values='RATING')
X = ratings.copy()
y = ratings['AdmissionNumber']
#df_ratings.to_excel("my_exported_data.xlsx")
df_ratings

                 RATING
AdmissionNumber
2010203001          3.0
2010203004          4.0
2010203009          4.0
2010203011          4.0
2010203016          3.0
2010203021          2.0
2010203022          4.0
2010203023          4.0
2010203025          3.0
2010203028          2.0
2010203032          2.0
2010203038          4.0
2010203040          4.0
2010203045          3.0
2010203047          2.0
2010203049          4.0
2010203052          4.0
2010203053          2.0
2010203058          2.0
2010203062          0.0
2010203073          4.0
2010203075          2.5
2010203079          3.0
2120203015          3.0
2120203023          3.0
2120203026          0.0
2120203027          3.0
2120203035          0.0
2220203026          0.0
2220203034          2.0
2220203047          2.0
2220203050          3.0
2220203056          0.0

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)
#X_train.to_excel("trainset.xlsx")
X_test

    AdmissionNumber  RATING
28       2010203049       4
3        2010203052       4
1        2010203001       3
16       2010203004       4
0        2010203022       4
36       2120203023       3
35       2010203038       4
26       2220203050       3
32       2120203026       0
20       2220203047       2
8        2010203016       3

In [48]:
df_test = X_test.pivot_table(index='AdmissionNumber', values='RATING')
#df_test.to_excel("my_test_data.xlsx")
df_test

                 RATING
AdmissionNumber
2010203001            3
2010203004            4
2010203016            3
2010203022            4
2010203038            4
2010203049            4
2010203052            4
2120203023            3
2120203026            0
2220203047            2
2220203050            3

In [49]:
df_ratings = X_train.pivot_table(index='AdmissionNumber', values='RATING')
#user_ratings= X_train.pivot_table(index = ['USER_ID'], columns = ['COURSE_CODE'], values = 'RATING')
df_ratings.to_excel("df_ratings_data2.xlsx")
df_ratings

                 RATING
AdmissionNumber
2010203009          4.0
2010203011          4.0
2010203021          2.0
2010203023          4.0
2010203025          3.0
2010203028          2.0
2010203032          2.0
2010203040          4.0
2010203045          3.0
2010203047          2.0
2010203053          2.0
2010203058          2.0
2010203062          0.0
2010203073          4.0
2010203075          2.5
2010203079          3.0
2120203015          3.0
2120203027          3.0
2120203035          0.0
2220203026          0.0
2220203034          2.0
2220203056          0.0

In [50]:
df_ratings_test = X_test.pivot_table(index='AdmissionNumber', values='RATING')
#user_ratings= X_train.pivot_table(index = ['USER_ID'], columns = ['COURSE_CODE'], values = 'RATING')
df_ratings_test

                 RATING
AdmissionNumber
2010203001            3
2010203004            4
2010203016            3
2010203022            4
2010203038            4
2010203049            4
2010203052            4
2120203023            3
2120203026            0
2220203047            2
2220203050            3

In [51]:
df_ratings_dummy = df_ratings.copy().dropna(thresh =20, axis=1).fillna(0)
df_ratings_dummy

                 RATING
AdmissionNumber
2010203009          4.0
2010203011          4.0
2010203021          2.0
2010203023          4.0
2010203025          3.0
2010203028          2.0
2010203032          2.0
2010203040          4.0
2010203045          3.0
2010203047          2.0
2010203053          2.0
2010203058          2.0
2010203062          0.0
2010203073          4.0
2010203075          2.5
2010203079          3.0
2120203015          3.0
2120203027          3.0
2120203035          0.0
2220203026          0.0
2220203034          2.0
2220203056          0.0

In [52]:

#cosine similarity of the ratings
similarity_matrix = cosine_similarity(df_ratings_dummy, df_ratings_dummy)
similarity_matrix_df = pd.DataFrame(similarity_matrix, index=df_ratings.index, columns=df_ratings.index)
#similarity_matrix_df.to_excel("similarity_metrix2.xlsx")
similarity_matrix_df

AdmissionNumber,2010203009,2010203011,2010203021,2010203023,2010203025,2010203028,2010203032,2010203040,2010203045,2010203047,...,2010203062,2010203073,2010203075,2010203079,2120203015,2120203027,2120203035,2220203026,2220203034,2220203056
AdmissionNumber,,,,,,,,,,,,,,,,,,,,,
2010203009,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203011,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203021,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203023,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203025,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203028,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203032,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203040,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203045,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203047,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203053,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203058,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010203073,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203075,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2010203079,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2120203015,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2120203027,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2120203035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2220203026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2220203034,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
2220203056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
#calculate ratings using weighted sum of cosine similarity
#function to calculate ratings
def calculate_ratings(id_course, id_user):
    if id_course  in df_ratings and id_user in similarity_matrix_df:
        cosine_scores = similarity_matrix_df[id_user] #similarity of id_user with every other user
        ratings_scores = df_ratings[id_course] #ratings of every other user for the course id_course
        #won't consider users who havent rated id_course so drop similarity scores and ratings corresponsing to np.nan
        index_not_rated = ratings_scores[ratings_scores.isnull()].index
        ratings_scores = ratings_scores.dropna()
        cosine_scores = cosine_scores.drop(index_not_rated)
        #cosine_scores= cosine_scores.dropna()
        #calculating rating by weighted mean of ratings and cosine scores of the users who have rated the movie
        y = cosine_scores.sum()
       # print (round(y,0))
        if y !=0:
            ratings_movie = np.dot(ratings_scores, cosine_scores)/y
            #ratings_movie = (ratings_scores*cosine_scores).sum()/cosine_scores.sum()
            return ratings_movie*1
        else:
            print("cosine_sum_ contains zero value %.3f  with course id:"  %id_user + id_course)
    else:
        return 2.55

In [54]:
gg= calculate_ratings('2010203011', 4)
print(gg)
#X_test_df= pd.DataFrame(X_test)
#X_test_df.head(2)
#user_course_pairs = zip(X_test['COURSE_CODE'], X_test['USER_ID'])
#print(tuple(user_course_pairs))
#true_ratings = np.array(X_test['RATING'])
#true_ratings

2.55

In [55]:
user_course_pairs = zip(X_test['RATING'], X_test['AdmissionNumber'])
p_rating_list = list()
for course,user in user_course_pairs:
    p_rating=calculate_ratings(course, user)
    p_rating_list.append(p_rating)
predicted_ratings = np.array(p_rating_list)
true_ratings = np.array(X_test['RATING'])

true_pred_pairs = zip(true_ratings, predicted_ratings)
for true in true_pred_pairs:
    print( true )

(4, 2.55)
(4, 2.55)
(3, 2.55)
(4, 2.55)
(4, 2.55)
(3, 2.55)
(4, 2.55)
(3, 2.55)
(0, 2.55)
(2, 2.55)
(3, 2.55)

In [56]:
precision = precision_score(true_ratings, np.rint(predicted_ratings),average='micro')
print ('precision: %.3f' %precision)
recall = recall_score(true_ratings, np.rint(predicted_ratings),average='micro')
print ('recall: %.3f' %recall)
f1_score = f1_score(true_ratings, np.rint(predicted_ratings),average='micro')
print ('f1_score: %.3f' %f1_score)

precision: 0.364
recall: 0.364
f1_score: 0.364

In [57]:
#evaluates on test set
def score_on_test_set():
    user_course_pairs = zip(X_test['AdmissionNumber'], X_test['RATING'])
    #print(tupple(user_course_pairs))
    #predicted_ratings = np.array([calculate_ratings(movie, user) for (movie,user) in user_course_pairs:])
    #predicted_ratings = np.array([for course,user in user_course_pairs: calculate_ratings(course, user)])
    p_rating_list = list()
    for course,user in user_course_pairs:
        p_rating=calculate_ratings(course, user)
        p_rating_list.append(p_rating)
    predicted_ratings = np.array(p_rating_list)
   # print (predicted_ratings.size)
    true_ratings = np.array(X_test['RATING'])
    #print (true_ratings-predicted_ratings)
    
    score = 1
    #try:
    score = mean_squared_error(true_ratings, predicted_ratings,squared = True)
    #except ValueError as ve:
        #print('Positive number needed')        
    return score
test_set_score = score_on_test_set()
print(test_set_score)

1.6479545454545457

In [58]:
def get_semilar_friends (user_id, target):
    scores=similarity_matrix_df[user_id]
    users=similarity_matrix_df.index
    users_list = np.array(users)
    score_list = np.array(scores)
    df_recommendations =pd.DataFrame({'student_id':users_list,'similarity_with_target':score_list})
    df_sorted_rec = df_recommendations.sort_values(by= 'similarity_with_target',ascending = True)
    print ("COMPLEMENTARY FREINDS/RECOMMENDAION LIST FOR %.0f "%user_id)
    return df_sorted_rec.head(target)
    #sorted_score = similar_users.sort_values(ascending = True)
    #for i in range (0,target):
        #print(score_list[i])
        #print(users_list[i])
    #print(sorted_users)

In [60]:
df_rec =pd.DataFrame()
df_rec=get_semilar_friends (2010203009, 10)
df_rec

COMPLEMENTARY FREINDS/RECOMMENDAION LIST FOR 2010203009

    student_id  similarity_with_target
21  2220203056                     0.0
19  2220203026                     0.0
18  2120203035                     0.0
12  2010203062                     0.0
17  2120203027                     1.0
16  2120203015                     1.0
15  2010203079                     1.0
14  2010203075                     1.0
13  2010203073                     1.0
11  2010203058                     1.0